* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: darkgrey;
}
.navbar {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.intro {
  display: block;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.intro #questions {
  font-size: 4rem;
}
.intro #description {
  font-size: 2rem;
}
.start-button {
  background-color: red;
  margin: 1rem auto;
}
.buttons {
  display: block;
  text-align: center;
}
.invisible {
  display: none;
}
